# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# YOLO weights
*.pt

# Other
*.log
.DS_Store